section.footer {
    background:
        url("../images/element.svg") no-repeat left bottom,
        linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__nav-item {
    display: flex;
    margin-right: 166px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}