body {
    font-family: 'Muli', sans-serif;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
}

.conteiner {
    margin: 0 auto;
    width: 1200px;
}


.default-button {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;
}

.default-button.filled,
.default-button.outline:active {
    color: #FFF;
    border: 0;
    background: #458FF6;

}

.default-button.outline,
.default-button.filled:active {
    color: #458FF6;
    border: 1.4px solid #458FF6;
    background-color: transparent;
}

.paragraph {
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.logo {
    width: 160px;
    height: 41px;
    background: transparent;
}

.line {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
}

.linear-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.linear-nav ul {
    display: flex;
    font-size: 14px;
    align-items: baseline
}