.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero {
    background-image: url("../images/element.svg");
    background-repeat: no-repeat;
    background-position: -4% 11%;
}

.hero__text {
    width: 500px;
    padding-top: 191px;
    padding-bottom: 154px;
    padding-right: 109px;

}

.title.hero {
    font-size: 48px;
}

.paragraph.hero {
    font-size: 21px;
    line-height: 32px;
}

.hero__image {
    width: 639px;
    height: 598px;
}